.background {
  &.color-black {background-color: black;}
  &.color-vampire-black {background-color: #0b0b0b;}
}


#container {
  border: 3px solid white;
  border-radius: 18px;
  height: 90vh;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 67vw;
}


.flex {
  display: flex;
  &.align {
    &.content-bottom {align-content: end;}
    &.self-bottom {align-self: end;}
  }
  &.justify {
    &.content-center {justify-content: center;}
    &.content-evenly {justify-content: space-evenly;}
    &.self-left {justify-self: start;}
  }
}


#profile {
  border: 1px solid white;
  border-radius: 13px 13px 0 0;
  height: 92%;
  width: 33%;
}