:root {
  --color-charleston-green: #262727;
  --color-chinese-black: #161616;
  --color-primary: black;
  --color-vampire-black: #0b0b0b;
}


body {
  background-color: var(--color-primary);
}


.card {
  /* background-color: var(--color-charleston-green); */
  background-color: inherit;
  border-radius: 14px;
  padding: 3.5%;
  width: 86%;

  .content {
    color: white;
    font-family: arial;
    font-size: 0.80em;
    margin-top: 5%;
  }
  
  .title {
    color: gray;
    font-family: sans-serif;
    font-size: 0.75em;
    font-weight: bold;
  }
}


#container {
  align-self: center;
  background-color: var(--color-vampire-black);
  border: 2px solid white;
  border-radius: 13px;
  column-gap: 4%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  left: 50%;
  max-width: max-content;
  padding: 3% 3% 0 3%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  #profile {
    background-color: var(--color-chinese-black);
    border: 1px solid white;
    border-radius: 13px 13px 0 0;
    height: 85vh;
    max-width: 750px;
    width: 28vw;

    #header {
      background-color: inherit;
      border-radius: inherit;
      height: 45%;
      
      #banner {
        background-color: var(--color-primary);
        border-radius: inherit;
        height: 55%;
      }
  
      #icon {
        background-color: inherit;
        border: 0.5em solid var(--color-chinese-black);
        border-radius: 50%;
        display: flex;
        position: relative;
        top: -20.5%;
        left: 4%;
        width: 22%;
  
        #image {
          border-radius: 50%;
          max-width: 100%;
        }
      }

      #name {
        color: white;
        font-family: arial;
        left: 6.5%;
        position: relative;
        top: -20%;
        
        #display-name {
          font-size: 1.25em;
          font-weight: bold;
        }

        #username {
          font-size: 0.75em;
        }
      }
    }

    #body {
      display: grid;
      flex-direction: column;
      justify-items: center;
      overflow: auto;
      padding: 0 0 3% 0;
      /* row-gap: 15%; */
      width: 100%;

      #roles {
        #items {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 0.5em;
          margin-top: 0.5em;
          
          #pithon {
            .color {
              background-color: yellow;
            }
          }
  
          #filipino {
            .color {
              background-color: blue;
            }
          }
        }
      }

      #connections {
        background-color: inherit;
        
        .connection {
          display: flex;
          height: 5vh;

          .icon {
            align-content: center;
            background-color: white;
            border-radius: 25%;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            width: 2em;

            #image {
              align-self: center;
              justify-self: center;
              max-width: 100%;
              width: 80%;
            }
          }

          .name {
            align-self: center;
            color: white;
            font-family: arial;
            font-size: 0.73em;
            padding: 0 0 0 1em;
            text-decoration: none;
            
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  #other {
    align-self: end;
    background-color: inherit;
    height: 85vh;
    justify-self: center;
    width: 28vw;

    #navigation {
      #list {
        list-style: none;

        .item {
          color: white;
        }
      }
    }
  }
}


.role {
  align-items: center;
  background-color: var(--color-chinese-black);
  border: 0.5px solid white;
  border-radius: 1em;
  column-gap: 10%;
  display: flex;
  flex-direction: row;
  max-width: max-content;
  padding: 0.10em 0.60em;

  .color {
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    height: 0.5em;
    width: 0.9em;
  }

  .name {
    color: white;
    font-family: monospace;
  }
}