:root {
  --color-charleston-green: #262727;
  --color-chinese-black: #161616;
  --color-primary: black;
  --color-vampire-black: #0b0b0b;
}


body {
  background-color: var(--color-primary);
}


#container {
  align-self: center;
  background-color: var(--color-vampire-black);
  border: 2px solid white;
  border-radius: 13px;
  column-gap: 4%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  left: 50%;
  max-width: max-content;
  padding: 3% 3% 0 3%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  #profile {
    background-color: var(--color-chinese-black);
    border: 1px solid white;
    border-radius: 13px 13px 0 0;
    height: 85vh;
    max-width: 750px;
    position: relative;
    width: 28vw;

    #header {
      background-color: inherit;
      border-radius: inherit;
      height: 45%;
      
      #banner {
        background-color: var(--color-primary);
        border-radius: inherit;
        height: 55%;
      }
  
      #icon {
        background-color: inherit;
        border: 0.5em solid var(--color-chinese-black);
        border-radius: 50%;
        display: flex;
        position: relative;
        top: -20.5%;
        left: 4%;
        width: 22%;
  
        #image {
          border-radius: 50%;
          max-width: 100%;
        }
      }

      #name {
        color: white;
        font-family: arial;
        left: 6.5%;
        position: relative;
        top: -20%;
        
        #display-name {
          font-size: 1.25em;
          font-weight: bold;
        }

        #username {
          font-size: 0.75em;
        }
      }
    }

    #body {
      align-content: start;
      display: grid;
      flex-direction: column;
      height: 53%;
      justify-items: center;
      overflow-y: auto;
      padding: 0 0 3% 0;
      scrollbar-color: var(--color-charleston-green) var(--color-chinese-black);
      scrollbar-width: none;
      /* row-gap: 15%; */
      width: 100%;

      .card {
        /* background-color: var(--color-charleston-green); */
        background-color: inherit;
        border-radius: 14px;
        padding: 3.5%;
        width: 86%;

        .content {
          color: white;
          font-family: arial;
          font-size: 0.80em;
          margin-top: 5%;
        }
        
        .title {
          color: gray;
          font-family: sans-serif;
          font-size: 0.75em;
          font-weight: bold;
        }
      }

      #roles {
        #items {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 0.5em;
          margin-top: 0.5em;
          
          #filipino {
            .color {
              background-color: blue;
            }
          }
          
          #pithon {
            .color {
              background-color: yellow;
            }
          }

          .role {
            align-items: center;
            background-color: var(--color-chinese-black);
            border: 0.5px solid white;
            border-radius: 1em;
            column-gap: 10%;
            display: flex;
            flex-direction: row;
            max-width: max-content;
            padding: 0.10em 0.60em;

            .color {
              border: 1px solid var(--color-primary);
              border-radius: 50%;
              height: 0.5em;
              width: 0.9em;
            }

            .name {
              color: white;
              font-family: monospace;
            }
          }
        }
      }

      #connections {
        background-color: inherit;
        display: grid;
        flex-direction: column;
        row-gap: 10%;
        
        .connection {
          display: flex;
          height: 5vh;

          .icon {
            align-content: center;
            background-color: white;
            border-radius: 25%;
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
            justify-content: center;
            width: 2em;

            &:hover .tooltip {
              opacity: 1;
              visibility: visible;
            }

            #image {
              align-self: center;
              border-radius: 50%;
              justify-self: center;
              max-width: 100%;
              width: 67%;
            }

            .tooltip {
              background-color: var(--color-vampire-black);
              border: 1px solid white;
              border-radius: 0.45em;
              color: white;
              font-family: serif;
              font-size: 0.75em;
              left: 50%;
              opacity: 0;
              padding: 0.20em 0.45em;
              position: absolute;
              text-align: justify;
              top: -80%;
              transform: translateX(-50%);
              vertical-align: middle;
              visibility: hidden;
              z-index: 1;
            }
          }

          .name {
            align-self: center;
            color: white;
            font-family: arial;
            font-size: 0.73em;
            padding: 0 0 0 1em;
            text-decoration: none;
            
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  #other {
    align-self: end;
    background-color: inherit;
    height: 85vh;
    justify-self: center;
    display: relative;
    width: 28vw;

    #navigation {
      align-items: center;
      background-color: inherit;
      border: solid gray;
      border-width: 0 0 1px 0;
      display: flex;
      flex-direction: row;
      gap: 1em;
      height: 1.8em;
      position: sticky;
      width: 100%;

      .item {
        background-color: inherit;
        border: solid white;
        border-width: 0 0 0 0;
        box-shadow: 0;
        color: white;
        font-family: monospace;
        height: 1.8em;
        padding-bottom: 0.8em;
        text-decoration: none;
        
        &:hover {
          border-width: 0 0 2px 0;
        }
      }
    }
  }
}